@import "tailwindcss";
@import 'keen-slider/keen-slider.min.css';

@font-face {
  font-family: 'Lobster';
  src: url('/fonts/Lobster.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Abel';
  src: url('/fonts/Abel.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4 {
  font-family: 'Lobster', cursive;
}

p{
  font-family: 'Abel', 'sans serif';
}