@import "tailwindcss";
@import 'keen-slider/keen-slider.min.css';

@font-face {
  font-family: 'Recoleta DEMO';
  src: url('/fonts/Recoleta.OTF') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Abel';
  src: url('/fonts/Abel.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4 {
  font-family: 'Recoleta DEMO', cursive;
}

body, p{
  font-family: 'Abel', 'sans serif';
}