@import "tailwindcss";
@import 'keen-slider/keen-slider.min.css';
@import './styles/rtl.css';

@font-face {
  font-family: 'Recoleta';
  src: url('/fonts/Recoleta.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Abel';
  src: url('/fonts/Abel.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h1, h2, h3, h4 {
  font-family: 'Recoleta', 'Georgia', 'Times New Roman', serif;
}

body, p{
  font-family: 'Abel', 'Helvetica', 'Arial', sans-serif;
}